body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    main {
        .slide {
            width: 400px;
            height: 200px;
        }
    }
}